footer {
    width: 100%; /* Full width */
  }
  
  .footer {
    background-color: #095934;
    color: #fff;
    padding: 0.00rem 0; /* Adjust padding to match the navbar size */
    width: 100%; /* Full width */
    margin-top: auto; /* Ensures footer sticks to the bottom */
  }
  
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    /* Removed padding-bottom to decrease footer size */
  }
  
  .footer-section {
    flex: 1;
    padding: 0 1rem;
  }
    
    .footer-section h4 {
      margin-bottom: 1rem;
    }
    
    .footer-section p {
      font-size: 0.9em;
    }